.CharacterProfile * {
    --circleWidth: 60%
}
.CharacterProfile,  .CharacterProfile *{
    display: flex; flex-direction: column; align-items: center; /* justify-content: end; */
}

/* CharacterProfile_Picture */
.CharacterProfile_Picture {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    position: relative; width: 100%;
}
.CharacterProfile_Picture img.CharacterPortrait {
    scale: 1; transition: cubic-bezier(0.215, 0.610, 0.355, 1) scale; transition-duration: 0.4s;
    position: absolute; z-index: 100; width: calc(var(--circleWidth)/1.2); bottom: 20%;
}
img.CharacterPortrait:hover, img.CharacterPortrait.hej {
    scale: 1.2;
    
}
.CharacterProfile_Picture .circle {
    aspect-ratio: 1/1; border-radius: 50%;
    width: var(--circleWidth);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20'%3E%3Ccircle cx='10' cy='10' r='2' fill='white' /%3E%3C/svg%3E ");
    z-index: 99;
}

/* CharacterProfile_Text */
.CharacterProfile_Text {
    position: relative;
    font-family: "Itim", cursive; color: #371b16;
}
/* CharacterProfile_Titles */
.CharacterProfile_Titles {
    z-index: 101;
    -webkit-text-stroke: 5px white; paint-order: stroke fill;

    position: absolute; top: -50px;
}
.CharacterProfile_Titles * {
    margin: 0; text-align: center;
}
/* CharacterProfile_Info */
.CharacterProfile_Info {
    --transDuration: 1s;
    position: relative; bottom: 100px;
}
.CharacterProfile_Info p {position: relative; bottom: 0px; transition-duration: calc(var(--transDuration)/2.5);}
.CharacterProfile_Info {
    transition-duration: var(--transDuration);
    max-height: 1000px; 
    width: var(--circleWidth); border-radius: 3%;

    padding: 20px; padding-top: 200px;
}
.CharacterProfile_Info.notExpanded {
    max-height: 0 !important;
    visibility: hidden !important;
    padding-top: 0 !important;
}
.CharacterProfile_Info.notExpanded p {
    opacity: 0 !important; bottom: 200px !important;
}