#CharacterSection {
    min-height: 100vh; width: 100vw; margin: 0; box-sizing: border-box;
    background-color: #cfe3a4;

    display: grid; grid-template-columns: repeat(3, 1fr); row-gap: 100px;
}

@media (max-width: 810px) {
    #CharacterSection {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 479px) {
    #CharacterSection {
        grid-template-columns: repeat(1, 1fr);
        gap: 100px;
    }
}

